<header>
    {{#if authenticated}}
    <p>Hello {{username}}<nr></nr></p>
    <a href="/logout" id:"logout" class:"auth">Log out</a>
    {{else}}
    <a href="/signup" id:"Signup" class:"auth">Sign Up</a>
    <a href="/login" id:"Login" class:"auth">Login</a>
    {{/if}}
</header>
<h1>Welcome to Apartment Listing system !!!</h1>