<form method="post" action="/login">
    <h1>Welcome, please login to your account</h1>
    <label for="Username">
        Username
        <input type="text" id="Username" name="Username" />
    </label>
    <label for="Password">
        Password
        <input type="text" id="Password" name="Password"/>
    </label>
    <label>
        Submit
        <button type="submit">Submit</button>
    </label>
</form>