<h1>{{{title}}}</h1>
<form method="post" action="/login">
    <label for="Username">
        Username
        <input type="text" id="Username" name="Username" />
    </label>
    <label for="Password">
        Password
        <input type="text" id="Password" name="Password"/>
    </label>
    <label>
        Submit
        <button type="submit">Submit</button>
    </label>
</form>
{{#if failed}}
<div>
<p>{{error}}</p>
</div>
{{/if}}