<form method="post" action="/signup">
    <h1>Welcome, please sign up to create account</h1>
    <label for="Username">
        Username
        <input type="text" id="Username" name="Username" />
    </label>
    <label for="EmailId">
        Email id
        <input type="text" id="EmailId" name="EmailId" />
    </label>
    <label for="Password">
        Password
        <input type="text" id="Password" name="Password"/>
    </label>
    <label>
        Submit
        <button type="submit">Submit</button>
    </label>
</form>